<!-- haku/templates/community.html -->

{% extends "layout.html" %}

{% block title %}
/c/{{ community.name }}
{% endblock %}

{% block header %}
<div class="jumbotron jumbotron-fluid py-3 mb-0">
    <div class="container">
      <h1 class="display-4 text-center">c/{{ community.name }}</h1>
      <p class="lead text-center">{{ community.name }}</p>
    </div>
  </div>  
{% endblock %}

{% block content %}
{% if not community.posts %}
<li class="list-group-item mt-2 ml-2">
    No Posts Found
</li>
{% endif %}
    {% include 'post_cards.html' %}
{% endblock %}

{% block sidebar_content %}
<div class="card my-2">
    <h5 class="card-header">About community</h5> <!-- Added a welcome message -->
    <div class="card-body">
        {{ community.description }}
        <hr />
        {% if current_page %}
        <p>Current page: {{ current_page }}</p>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('new_post') }}" class="btn btn-primary btn-block">Create Post</a>
        {% else %}
        <p>Please log in to create a post.</p>
        {% endif %}
        <!-- Other things to add later -->
    </div>
</div>
{% endblock sidebar_content %}