<!-- haku/templates/home.html -->

{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid mt-2 pr-0">
    <div class="list-group">
      {% for post in posts %}
        <a href="{{ url_for('post', post_id=post.id) }}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ post.title }}</h5>
            <small>{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <p class="mb-1">{{ post.content | truncate(100) }}</p>
          <small>Posted by {{ post.author.username }}</small>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
