<!-- haku/templates/home.html -->

{% extends "layout.html" %}
{% block content %}
<div class="container-fluid mt-2 pr-0">
    <div class="list-group">
        {% for post in posts %}
        <div id="post-{{ post.id }}" class="list-group-item list-group-item-action pt-1 pb-1" style="cursor: pointer;">
            <div class="row">
                <!-- Vote buttons column -->
                <div class="col- d-flex flex-column align-items-center ml-2">
                    <button
                        class="btn btn-sm border-0 {{ 'btn-primary' if get_user_vote(post.id) == 1 else 'btn-outline-secondary' }} vote-btn vote-up"
                        data-vote="1" data-post-id="{{ post.id }}" onclick="event.stopPropagation(); vote(this);">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                    <span id="vote-score-{{ post.id }}" class="vote-score mx-2">{{ get_post_vote_total(post.id)
                        }}</span>
                    <button
                        class="btn btn-sm border-0 {{ 'btn-danger' if get_user_vote(post.id) == -1 else 'btn-outline-secondary' }} vote-btn vote-down"
                        data-vote="-1" data-post-id="{{ post.id }}" onclick="event.stopPropagation(); vote(this);">
                        <i class="fas fa-arrow-down"></i>
                    </button>
                </div>



                <!-- Post data column -->
                <div class="col-md">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ post.title }}</h5>
                        <small>
                            <span
                                title="{% if post.date_edited %}Edited on {{ post.date_edited.strftime('%Y-%m-%d') }}{% endif %}">{{
                                post.date_posted.strftime('%Y-%m-%d') }}{% if post.date_edited %}*{% endif %}</span>
                        </small>
                    </div>
                    <small>c/<a href="{{ url_for('community', community_name=post.community.name) }}"
                            onclick="event.stopPropagation();">{{ post.community.name }}</a></small>
                    <small>Posted by <a href="{{ url_for('profile', username=post.author.username) }}"
                            onclick="event.stopPropagation();">{{ post.author.username }}</a></small>
                    <div class="card-footer bg-white p-0">
                        <button class="btn btn-outline-secondary border-0 btn-sm" data-bs-toggle="collapse"
                            data-bs-target="#post-content-{{ post.id }}" aria-expanded="false"
                            aria-controls="post-content-{{ post.id }}" onclick="event.stopPropagation();">
                            <i class="fas fa-up-right-and-down-left-from-center"></i>
                        </button>
                        {% if post.author == current_user %}
                        <a href="{{ url_for('edit_post', community_name=post.community.name, post_id=post.id) }}"
                            class="btn btn-outline-secondary border-0 btn-sm"><i class="fas fa-pencil-alt"></i></a>
                        {% endif %}
                        <button class="btn btn-outline-secondary border-0 btn-sm"><i
                                class="fas fa-bookmark"></i></button>
                    </div>
                    <div id="post-content-{{ post.id }}" class="collapse">
                        <hr>
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.getElementById("post-{{ post.id }}").onclick = function () {
                window.location.href = "{{ url_for('post', community_name=post.community.name, post_id=post.id) }}";
            };
        </script>
        <script>
            function updateButtonColors(postId, userVote) {
                var upvoteButton = document.querySelector(`[data-post-id="${postId}"][data-vote="1"]`);
                var downvoteButton = document.querySelector(`[data-post-id="${postId}"][data-vote="-1"]`);

                upvoteButton.classList.remove('btn-primary');
                downvoteButton.classList.remove('btn-danger');
                upvoteButton.classList.add('btn-outline-secondary');
                downvoteButton.classList.add('btn-outline-secondary');

                if (userVote == 1) {
                    upvoteButton.classList.replace('btn-outline-secondary', 'btn-primary');
                } else if (userVote == -1) {
                    downvoteButton.classList.replace('btn-outline-secondary', 'btn-danger');
                }
            }

            function vote(button) {
                var postId = button.getAttribute("data-post-id");
                var vote = button.getAttribute("data-vote");

                $.ajax({
                    url: '/vote',
                    data: JSON.stringify({ 'post_id': postId, 'value': vote }),
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (response) {
                        $('#vote-score-' + postId).html(response.new_score);
                        updateButtonColors(postId, response.user_vote);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });

                button.disabled = false;
            }


        </script>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block sidebar_content %}
<div class="card my-2">
    <h5 class="card-header">Welcome to Haku!</h5> <!-- Added a welcome message -->
    <div class="card-body">
        Welcome to the front page of Haku! You can create a post, view other posts, and much more. Please enjoy your
        stay.
        <hr />
        {% if current_page %}
        <p>Current page: {{ current_page }}</p>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('new_post') }}" class="btn btn-primary btn-block">Create Post</a>
        <a href="{{ url_for('create_community') }}" class="btn btn-primary btn-block">Create Community</a>
        {% else %}
        <p>Please log in to create a post.</p>
        {% endif %}
        <!-- Other things to add later -->
    </div>
</div>
{% endblock sidebar_content %}