<!-- haku/templates/home.html -->

{% extends "layout.html" %}
{% block content %}
<div class="container-fluid mt-2 pr-0">
    <div class="list-group">
        {% for post in posts %}
        <div id="post-{{ post.id }}" class="list-group-item list-group-item-action" style="cursor: pointer;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ post.title }}</h5>
                <small>
                    <span title="{% if post.date_edited %}Edited on {{ post.date_edited.strftime('%Y-%m-%d') }}{% endif %}">{{ post.date_posted.strftime('%Y-%m-%d') }}{% if post.date_edited %}*{% endif %}</span>
                </small>
            </div>
            <p class="mb-1">{{ post.content | truncate(100) }}</p>
            <small>c/<a href="{{ url_for('community', community_name=post.community.name) }}"
                    onclick="event.stopPropagation();">{{ post.community.name }}</a></small>
            <small>Posted by <a href="{{ url_for('profile', username=post.author.username) }}"
                    onclick="event.stopPropagation();">{{ post.author.username }}</a></small>
            {% if post.author == current_user %}
            <a href="{{ url_for('edit_post', community_name=post.community.name, post_id=post.id) }}">Edit</a>
            {% endif %}
        </div>
        <script>
            document.getElementById("post-{{ post.id }}").onclick = function () {
                window.location.href = "{{ url_for('post', community_name=post.community.name, post_id=post.id) }}";
            };
        </script>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block sidebar_content %}
<div class="card my-2">
    <h5 class="card-header">Welcome to Haku!</h5> <!-- Added a welcome message -->
    <div class="card-body">
        Welcome to the front page of Haku! You can create a post, view other posts, and much more. Please enjoy your
        stay.
        <hr />
        {% if current_page %}
        <p>Current page: {{ current_page }}</p>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('new_post') }}" class="btn btn-primary btn-block">Create Post</a>
        <a href="{{ url_for('create_community') }}" class="btn btn-primary btn-block">Create Community</a>
        {% else %}
        <p>Please log in to create a post.</p>
        {% endif %}
        <!-- Other things to add later -->
    </div>
</div>
{% endblock sidebar_content %}