{% block javascript %}
<script src="{{ url_for('static',filename='post.js') }}"></script>
{% endblock %}

<div class="container-fluid mt-2 pr-0">

    <!-- Sort button toolbar in card -->
    <div class="card mb-2">
        <div class="card-body py-2 pl-1">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="Sort options">
                    <button type="button" class="btn btn-outline-secondary border-0 sort-button" data-sort="hot"><i
                            class="fas fa-fire fa-fw"></i> Hot</button>
                    <button type="button" class="btn btn-outline-secondary border-0 sort-button" data-sort="top"><i
                            class="fas fa-trophy fa-fw"></i> Top</button>
                    <button type="button" class="btn btn-outline-secondary border-0 sort-button" data-sort="new"><i
                            class="fas fa-rocket fa-fw"></i> New</button>
                </div>
            </div>
        </div>
    </div>

    <div class="list-group">
        {% for post in posts %}
        <div id="post-{{ post.id }}" class="list-group-item list-group-item-action pt-1 pb-1" style="cursor: pointer;"
            data-url="{{ url_for('post', community_name=post.community.name, post_id=post.id) }}"
            onclick="cardClick(event, this)">
            <div class="row">
                <!-- Vote buttons column -->
                <div class="col- d-flex flex-column align-items-center ml-2">
                    <button
                        class="btn btn-outline-primary btn-sm border-0 {{ 'text-primary' if get_user_vote(post.id) == 1 else 'text-secondary' }} vote-btn vote-up"
                        data-vote="1" data-post-id="{{ post.id }}" onclick="event.stopPropagation(); vote(this);">
                        <i class="fas fa-arrow-up fa-lg"></i>
                    </button>
                    <span class="vote-score-wrapper">
                        <span id="vote-score-{{ post.id }}" class="vote-score">{{ post.votes }}</span>
                    </span>
                    <button
                        class="btn btn-outline-danger btn-sm border-0 {{ 'text-danger' if get_user_vote(post.id) == -1 else 'text-secondary' }} vote-btn vote-down"
                        data-vote="-1" data-post-id="{{ post.id }}" onclick="event.stopPropagation(); vote(this);">
                        <i class="fas fa-arrow-down fa-lg"></i>
                    </button>
                </div>

                <!-- Post data column -->
                <div class="col-md">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="card-title mb-0">
                            <a class="post-title-link text-reset"
                                href="{{ url_for('post', community_name=post.community.name, post_id=post.id) }}">{{
                                post.title }}</a>
                        </h5>
                        <small>
                            <span
                                title="{% if post.date_edited %}Edited on {{ post.date_edited.strftime('%Y-%m-%d') }}{% endif %}">{{
                                post.date_posted.strftime('%Y-%m-%d') }}{% if post.date_edited %}*{% endif %}</span>
                        </small>
                    </div>
                    <small>c/<a href="{{ url_for('community', community_name=post.community.name) }}"
                            onclick="event.stopPropagation();">{{ post.community.name }}</a></small>
                    <small> • Posted by <a href="{{ url_for('profile', username=post.author.username) }}"
                            onclick="event.stopPropagation();">{{ post.author.username }}</a></small>
                    <!-- Post footer buttons -->
                    <div class="card-footer bg-white p-0">
                        <button id="expandBtn-{{ post.id }}" class="btn btn-outline-secondary border-0 btn-sm"
                            data-bs-toggle="collapse" data-bs-target="#post-content-{{ post.id }}" aria-expanded="false"
                            aria-controls="post-content-{{ post.id }}"
                            onclick="event.stopPropagation(); toggleExpandIcon(this);">
                            <i class="fas fa-up-right-and-down-left-from-center fa-fw"></i>
                        </button>
                        {% if post.author == current_user %}
                        <a href="{{ url_for('edit_post', community_name=post.community.name, post_id=post.id) }}"
                            class="btn btn-outline-secondary border-0 btn-sm"><i
                                class="fas fa-pencil-alt fa-fw"></i></a>
                        {% endif %}
                        <button
                            class="btn btn-outline-secondary border-0 btn-sm save-btn {% if post in current_user.saved %}text-success{% endif %}"
                            data-post-id="{{ post.id }}" onclick="event.stopPropagation(); savePost(this);">
                            <i class="fas fa-bookmark fa-fw"></i>
                        </button>
                    </div>
                    <div id="post-content-{{ post.id }}" class="collapse">
                        <hr>
                        {{ post.content|nl2br|safe }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>