<!-- haku/templates/profile.html -->

{% extends "layout.html" %}

{% block title %}
/u/{{ user.username }}
{% endblock %}

{% block content %}
{% if not user.posts %}
<li class="list-group-item mt-2 ml-2">
    No Posts Found
</li>
{% endif %}
    {% include 'post_cards.html' %}
{% endblock %}

{% block sidebar_content %}
<div class="card mt-2">
    <div class="card-header text-center text-black">
        <h3 class="m-0">{{ user.username }}</h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <i class="fas fa-star fa-fw text-warning"></i> 
            <strong>{{ user.karma }}</strong> Karma
        </li>
        <li class="list-group-item">
            <i class="fas fa-calendar-alt fa-fw text-primary"></i> 
            Joined on <strong>{{ user.date_joined.strftime('%Y-%m-%d') }}</strong>
        </li>
        <li class="list-group-item">
            <i class="fas fa-pen-square fa-fw text-success"></i> 
            <strong>{{ user.posts|length }}</strong> Posts
        </li>
    </ul>
</div>
{% endblock sidebar_content %}