<!-- haku/templates/profile.html -->

{% extends "compact_layout.html" %}

{% block content %}
    {% include 'post_cards.html' %}
{% endblock %}

{% block sidebar_content %}
<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <p class="card-text">
            {{ user.karma }} karma
        </p>
        <p class="card-text">
            Joined on {{ user.date_joined.strftime('%Y-%m-%d') }}
        </p>
        <p class="card-text">
            {{ user.posts|length }} posts
        </p>
    </div>
</div>
{% endblock sidebar_content %}