<!-- haku/templates/saved.html -->

{% extends "compact_layout.html" %}

{% block content %}
    {% include 'post_cards.html' %}
{% endblock %}

{% block sidebar_content %}
<div class="card my-2">
    <h5 class="card-header">Welcome to Haku!</h5> <!-- Added a welcome message -->
    <div class="card-body">
        Welcome to the front page of Haku! You can create a post, view other posts, and much more. Please enjoy your
        stay.
        <hr />
        {% if current_page %}
        <p>Current page: {{ current_page }}</p>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('new_post') }}" class="btn btn-primary btn-block">Create Post</a>
        <a href="{{ url_for('create_community') }}" class="btn btn-primary btn-block">Create Community</a>
        {% else %}
        <p>Please log in to create a post.</p>
        {% endif %}
        <!-- Other things to add later -->
    </div>
</div>
{% endblock sidebar_content %}