<!-- haku/templates/submit.html -->

{% extends "layout.html" %}

{% block title_suffix %}
Submit Post
{% endblock %}

{% block content %}
    <h1 class="mb-3">Submit Post</h1>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills" id="postType" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="text-tab" data-toggle="tab" href="#text" role="tab" aria-controls="text" aria-selected="true">Text</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="link-tab" data-toggle="tab" href="#link" role="tab" aria-controls="link" aria-selected="false">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="false">Image/Video</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="postTypeContent">
                <div class="tab-pane fade show active" id="text" role="tabpanel" aria-labelledby="text-tab">
                    <form method="POST">
                        {{ text_form.hidden_tag() }}
                        {{ text_form.community.label(class="form-label") }} {{ text_form.community(class="form-control") }}
                        {{ text_form.title.label(class="form-label") }} {{ text_form.title(class="form-control") }}
                        {{ text_form.content.label(class="form-label") }} {{ text_form.content(class="form-control") }}
                        {{ text_form.submit(class="btn btn-primary mt-2") }}
                    </form>
                </div>
                <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="link-tab">
                    <form method="POST">
                        {{ link_form.hidden_tag() }}
                        {{ link_form.community.label(class="form-label") }} {{ link_form.community(class="form-control") }}
                        {{ link_form.title.label(class="form-label") }} {{ link_form.title(class="form-control") }}
                        {{ link_form.link_url.label(class="form-label") }} {{ link_form.link_url(class="form-control") }}
                        {{ link_form.submit(class="btn btn-primary mt-2") }}
                    </form>
                </div>
                <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
                    <form method="POST" enctype="multipart/form-data">
                        {{ image_form.hidden_tag() }}
                        {{ image_form.community.label(class="form-label") }} {{ image_form.community(class="form-control") }}
                        {{ image_form.title.label(class="form-label") }} {{ image_form.title(class="form-control") }}
                        {{ image_form.image_file.label(class="form-label") }} {{ image_form.image_file(class="form-control") }}
                        {{ image_form.submit(class="btn btn-primary mt-2") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebar_content %}
<div class="card my-2">
    <h5 class="card-header">Welcome to Haku!</h5> <!-- Added a welcome message -->
    <div class="card-body">
        Welcome to the front page of Haku! You can create a post, view other posts, and much more. Please enjoy your stay.
        <hr/>
        {% if current_page %}
            <p>Current page: {{ current_page }}</p>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('submit') }}" class="btn btn-primary btn-block">Create Post</a>
        {% else %}
            <p>Please log in to create a post.</p>
        {% endif %}
        <!-- Other things to add later -->
    </div>
</div>
{% endblock sidebar_content %}

{% block sidebar_content2 %}
<div class="card mt-3">
    <div class="card-header">Posting Rules</div>
    <div class="card-body">
        <p>Rule 1: Be kind and respectful</p>
        <p>Rule 2: No spamming</p>
        <!-- ... more rules ... -->
    </div>
</div>
{% endblock sidebar_content2 %}
