<!-- haku/templates/submit.html -->

{% extends "compact_layout.html" %}

{% block title_suffix %}
Submit Post
{% endblock %}

{% block content %}
<div class="container-fluid mt-2 pr-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">New Post</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.community.label(class="form-control-label") }}
                            {{ form.community(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.title.label(class="form-control-label") }}
                            {{ form.title(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.content.label(class="form-control-label") }}
                            {{ form.content(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block sidebar_content %}
<div class="card my-2">
    <h5 class="card-header">Welcome to Haku!</h5> <!-- Added a welcome message -->
    <div class="card-body">
        Welcome to the front page of Haku! You can create a post, view other posts, and much more. Please enjoy your stay.
        <hr/>
        {% if current_page %}
            <p>Current page: {{ current_page }}</p>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('new_post') }}" class="btn btn-primary btn-block">Create Post</a>
        {% else %}
            <p>Please log in to create a post.</p>
        {% endif %}
        <!-- Other things to add later -->
    </div>
</div>
{% endblock sidebar_content %}

{% block sidebar_content2 %}
<div class="card mt-3">
    <div class="card-header">Posting Rules</div>
    <div class="card-body">
        <p>Rule 1: Be kind and respectful</p>
        <p>Rule 2: No spamming</p>
        <!-- ... more rules ... -->
    </div>
</div>
{% endblock sidebar_content2 %}
